* {
	font-family: JetBrainsMono Nerd Font, sans-serif;
	font-size: 16px;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

.modules-left, #mpris, .modules-right {
	background: rgba(0, 140, 255, 0.5);
	min-height: 38px;
	border-radius: 100px;
	margin: 5px;
}

#mpris.paused {
	opacity: 0;
}

window.empty .modules-left {
	opacity: 0;
}

#window {
	padding-left: 8px;
	padding-right: 8px;
}

#mpris {
	padding-left: 8px;
	padding-right: 8px;
}

#mpris.paused {
	/* opacity: 0; */
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 100px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio {
	padding-left: 7px;
	padding-right: 14px;
	border-radius: 100px;
}

#pulseaudio:hover {
	background-color: rgb(0, 140, 255);
}

#power-profiles-daemon {
	border-radius: 100px;
}

#power-profiles-daemon.performance {
	min-width: 37px;
	padding-right: 1px;
}

#power-profiles-daemon.balanced {
	min-width: 31px;
	padding-right: 7px;
}

#power-profiles-daemon.power-saver {
	min-width: 34px;
	padding-right: 4px;
}

#power-profiles-daemon:hover {
	background-color: rgb(0, 140, 255);
}

#cpu {
	/* keep width consistend between single and double digit percentages */
	min-width: 50px;
}

#custom-power {
	min-width: 32px;
	padding-left: 6px;
	border-radius: 100px;
	background-color: rgb(0, 140, 255);
}

#custom-power:hover {
	background-color: rgb(56, 165, 255);
}

#custom-power {
	margin-left: 10px;
}

#clock {
	margin-left: 12px;
}

#cpu {
	margin-left: 3px;
}

#battery {
	margin-right: 6px;
	margin-left: 5px;
	min-width: 65px;
}

@keyframes blink {
	to {
		color: #ff6969;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* TODO */
#tray {
	background-color: #2980b9;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}
